<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <br />
        <br />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - This website was proudly brought to you by CodeTek</p>*@
            @*<span class="badge badge-light">&copy; @DateTime.Now.Year - This website was proudly brought to you by CodeTek</span>*@

            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="" data-original-title="This is the development team that created this application">&copy; @DateTime.Now.Year - This Application was proudly brought to you by CodeTek</button>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
