@model StudentInfoUpdate.Models.Student

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Student/Index">Home</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
<b><h3>Are you sure you want to delete this?</h3></b>
<div>
    @*<h4>Student</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile_No)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Completed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Completed)
            </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" class="btn btn-danger" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
